<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BOM(Browser Object Model)</h1>
    <h2>navigator객체</h2>
    <p>웹 페이지를 실행하고 있는 브라우저에 대한 정보를 갖고 있는 객체</p>
    <button onclick="navTest();">실행확인</button>
    <script>
        const navTest=()=>{
            for(const key in navigator){
                console.log(key);
                console.log(navigator[key]);
                console.log("--------------------------");
            }
        }
    </script>
    <h2>screen객체</h2>
    <p>웹 브라우저 화면이 아닌 모니터 화면의 속성을 갖는 객체</p>
    <button onclick="screenTest();">실행확인</button>
    <script>
        const screenTest=()=>{
            for(const key in screen){
                console.log(key);
                console.log(screen[key]);
                console.log("~~~~~~~~~~~~~~~~~~~");
            }
        }
    </script>

    <h2>location객체</h2>
    <p>브라우저 주소 표시줄과 관련된 객체</p>
    <button onclick="locTest();">실행확인</button>
    <script>
        const locTest=()=>{
            for(const key in location){
                console.log(key);
                console.log(location[key]);
                console.log('******************************');
            }
        }
    </script>
    
    <h3>location.href</h3>
    <p>페이지 이동</p>
    <button onclick="location.href='http://www.naver.com'">네이버로 이동</button>
    <button onclick="location='http://www.google.com'">구글로 이동</button>

    <h3>reload()</h3>
    <p>페이지를 새로고침하는 메소드</p>
    <button onclick="location=location">새로고침</button>
    <button onclick="location.href=location.href">새로고침</button>
    <button onclick="location.reload()">새로고침</button>

    <h3>assign()과 replace()</h3>
    <p>
        두 메소드 모두 location자원을 제공한 url의 자원으로 재지정하는 메소드 = 페이지 이동<br/>
        reaplce()는 assgin()과 다르게 history객체에 현재 resource를 남기지 않음
    </p>
    <button onclick="location.assign('http://google.com')">구글로 이동</button>
    <button onclick="location.replace('http://google.com')">구글로 이동</button>

    <h2>history객체</h2>
    <p>브라우저 방문 기록과 관련된 객체</p>
    <button onclick="history.back()";>back()</button>
    <button onclick="history.forward()";>forward()</button>
    <button onclick="history.go(1)">go(1)</button>
    <button onclick="history.go(-1)">go(-1)</button>
</body>
</html>