<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>정규표현식</h1>
    <h2>정규표현식 객체 생성</h2>
    <button onclick="regExp();">실행확인</button>
    <script>
        const regExp=()=>{
            // 1. new 사용
            const regExp1 = new RegExp('script');
            const regExp2 = new RegExp(/script/);
            // 2. 스크립트 작성
            const regExp3 = /script/;
            //const regExp4 = 'script'; // X

            const str = 'javascript jquery ajax';
            console.log('regExp3.test(str) : ' + regExp3.test(str));
            console.log('regExp3.exec(str) : ' + regExp3.exec(str));
            console.log(regExp3.exec(str));

            //문자열 객체 메소드
            console.log(str.match(regExp3));
            console.log(str.replace(regExp3,'스크립트'));
            console.log(str.search(regExp3));
            console.log(str.split(regExp3));
        }
    </script>

    <h2>$&, $`, $'</h2>
    <button onclick="matching();">실행확인</button>
    <script>
        const matching = () =>{
            const regExp = /as/;
            const str = "javascript jquery ajax sass";

            // console.log('$& : ' + str.replace(regExp,'($&)'));
            console.log(`$& : ${str.replace(regExp,'($&)')}`);

            // console.log('$` : ' + str.replace(regExp,'($`)'));
            console.log(`$\`: ${str.replace(regExp,'($`)')}`);

            // console.log("$' : " + str.replace(regExp,"($')"));s
            console.log(`$' : ${str.replace(regExp,"($')")}`);

        }
    </script>

    <h2>()소괄호와 |</h2>
    <button onclick="manyOr();">실행확인</button>
    <script>
        const manyOr = () =>{
            const src = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일'];
            // const regExp = /(금요일|토요일|일요일)/;
            const regExp = /(금|토|일)요일/;
            for(const i of src){
                console.log(i + ' : ' + regExp.test(i));
            }
        }
    </script>

</body>
</html>